/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  background-size: cover;
  color: whitesmoke;
}


.background-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.quote-formatting {
  text-shadow: 2px 2px 4px black;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.161);
  border-radius: 5px;
  margin-bottom: 4em;
  padding-top: 1em;
  padding-left: 1em;
  height: 20vh;
  max-width: 90%;
}

.hide {
  display: none;
}

.unhide-author:hover+.hide {
  display: flex;
}